@model SliderUpdateVm
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form asp-action="Update" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Title1"></label>
                        <input asp-for="Title1" class="form-control">
                        <span asp-validation-for="Title1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title2"></label>
                        <input asp-for="Title2" class="form-control">
                        <span asp-validation-for="Title2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HeaderDescription"></label>
                        <input asp-for="HeaderDescription" class="form-control">
                        <span asp-validation-for="HeaderDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MainImage"></label>
                        <br/>
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img style="width:20%" src="~/Assets/image/stories/@Model.ImageUrl">
                        }
                        else
                        {
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS86IZUmQ77kOga8KSmc-o2rBXm22MDW3rdlsiBj2l_CQ&s">
                        }
                        <input asp-for="MainImage" class="form-control">
                        <span asp-validation-for="MainImage" class="text-danger"></span>
                    </div>
                    <button class="btn btn-success">Update</button>
                    <a asp-action="Cancel" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>

</div>